/* Nanum Square - 400 */
@font-face {
    font-family: 'NanumSquare';
    font-weight: 400;
    src: url(../fonts/NanumSquareR.eot);
    src: url(../fonts/NanumSquareR.eot?#iefix) format('embedded-opentype'),
         url(../fonts/NanumSquareR.woff) format('woff'),
         url(../fonts/NanumSquareR.ttf) format('truetype');
}

/* Nanum Square - 700 */
@font-face {
    font-family: 'NanumSquare';
    font-weight: 700;
    src: url(../fonts/NanumSquareB.eot);
    src: url(../fonts/NanumSquareB.eot?#iefix) format('embedded-opentype'),
         url(../fonts/NanumSquareB.woff) format('woff'),
         url(../fonts/NanumSquareB.ttf) format('truetype');
}
