/* Nanum Myeongjo - regular */
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nanum-myeongjo-v15-korean_latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/nanum-myeongjo-v15-korean_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nanum-myeongjo-v15-korean_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nanum-myeongjo-v15-korean_latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* Noto Sans KR - regular */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-kr-v12-korean_latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/noto-sans-kr-v12-korean_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-kr-v12-korean_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-kr-v12-korean_latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* Noto Sans KR - 300 */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/noto-sans-kr-v12-latin_korean-300.eot'); /* IE9 Compat Modes */
  src: url('../fonts/noto-sans-kr-v12-latin_korean-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-kr-v12-latin_korean-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-kr-v12-latin_korean-300.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* Noto Sans KR - 700 */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-kr-v12-korean_latin-700.eot'); /* IE9 Compat Modes */
  src: url('../fonts/noto-sans-kr-v12-korean_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-kr-v12-korean_latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-kr-v12-korean_latin-700.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* Nanum Square - 400 */
@font-face {
    font-family: 'NanumSquare';
    font-weight: 400;
    src: url(../fonts/NanumSquareR.eot);
    src: url(../fonts/NanumSquareR.eot?#iefix) format('embedded-opentype'),
         url(../fonts/NanumSquareR.woff) format('woff'),
         url(../fonts/NanumSquareR.ttf) format('truetype');
}
/* Nanum Square - 700 */
@font-face {
    font-family: 'NanumSquare';
    font-weight: 700;
    src: url(../fonts/NanumSquareB.eot);
    src: url(../fonts/NanumSquareB.eot?#iefix) format('embedded-opentype'),
         url(../fonts/NanumSquareB.woff) format('woff'),
         url(../fonts/NanumSquareB.ttf) format('truetype');
}
